body {
    font-family:Arial;
    background:url('../img/bg3.jpg') no-repeat left top;
}

h1 {
    color: #fff;
}

#dID {
    height:325px;
    width:100%;
    overflow:scroll;
    overflow-Y:hidden;
    background-color:#ffffff;
    margin-right:auto;
    margin-left:auto;
}

#navigation ul {
    /*padding: 0 20px;*/
    /* border-radius: 10px; */
    list-style: none !important;
    position: relative;
    display: inline-table;
    width:97.5%;
}

#navigation ul:after {
    content: ""; clear: both; display: block;
}

#navigation ul ul {
    display: none;
}

#navigation ul li:hover > ul {
    display: block;
}

#navigation ul li {
	float: left;
}

#navigation ul li a
    {
display: block; padding: 18px 40px;
    color: #FFF; text-decoration: none;
    border-bottom: 1px #fff dotted;
    text-transform: uppercase;
}

#navigation ul li:hover a {
        color: #fff90d;
}


#navigation ul ul {
    background: #302d2c; border-radius: 0px; padding: 0;
    position: absolute; top: 100%;
    width:auto;
}
#navigation ul ul li {
        float: none; 
        border-bottom:1px solid #464442;
        position: relative;
        z-index:99;
}

@media screen and (max-width: 600px) {
    #navigation {
        height: auto;
    }
    #navigation ul {
        width: 100%;
        display: block;
        height: auto;
    }
    #navigation li {
        width: 50%;
        float: left;
        position: relative;
    }
    #navigation li a {
        border-bottom: 1px solid #576979;
    }
    #navigation a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
}


.container {
    width: 50%;
    margin-left:4%;
    padding:12px;
    float: left;
}

footer a {
    border-right:1px solid grey;
    padding:10px;
}

#sidebar {
    float:right;
    width:23%;
    margin:10px;
    padding:8px;
}
@media screen and (min-width: 480px) and (max-width: 960px) {
  #sidebar {
    float:none;
    width:97.5%;
  }
}

div.box{
    /*margin: 0 auto;*/
    width: 50%;
    position: relative;

}
/*
div.box h1 {
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 5px 5px 5px;
}
*/
div.box label {
    width: 100%;
    display: block;
    padding: 10px 0 10px 0;
}

div.box label span {
    display: block;
    /*color: #bbbbbb;*/
    float: left;
    width: 150px;
    text-align: right;
    padding: 5px 20px 0 0;
}

div.box.input_text {
    padding: 10px 10px;
    width: 200px;
    background: #262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left: 1px double #333333;
    border-right: 1px double #333333;
}

div.box.message{
    padding: 7px 7px;
    width: 350px;
    background: #262626;
    border-bottom: 1px double #171717;
    border-top: 1px double #171717;
    border-left: 1px double #333333;
    border-right: 1px double #333333;
    overflow: hidden;
    height: 150px;
}

div.box.button{
    margin: 0 0 10px 0;
    padding: 4px 7px;
    background: #660000;
    border: 0px;
    position: relative;
    top: 10px;
    left: 382px;
    width: 100px;
    border-bottom: 1px double #660000;
    border-top: 1px double #660000;
    border-left: 1px double #FF0033;
    border-right: 1px double #FF0033;
}
input[type="submit"] {
    /*margin:20px;*/
}

.prices {
    float:right;
}

.prices label span {
    display:block;
}


.view_users td {
    text-align:left;
}

footer {
    clear: both;
    padding: .5em 1em;
    border-top: 1px solid #999;
    text-align: center;
}

.sdm {
    float:right;
}

.textfield {
    width:500px;
    height:20px;

}

.payment_data {
    float:left;
    width:50%;
}

.payment_bank {
    float:left;
    width:50%;
}

.select_styled select {
    background: transparent;
    width: 268px;
    padding: 1px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 24px;
    -webkit-appearance: none;
}

.select_styled {
    width: 268px;
    height: 24px;
    overflow: hidden;
    background: url('../img/new_arrow.jpg') no-repeat right #ddd;
    border: 1px solid #ccc;
}

.select_styled option {
    background:#DDDDDD;
}

.banknumber input[type="text"] {
    background:#DDDDDD;
    width: 268px;
    padding: 1px;
    font-size: 16px;
    margin-bottom:6%;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 24px;
    -webkit-appearance: none;
}

.payment_bank input[type="submit"] {
    margin-top:10px;
    font-weight: bold;
    position:relative;
    width:160px;
    height:25px;
}

.second_td {
    text-align:right;
}

#map_canvas {
    width:49%;
    height:300px;
    position:absolute;
}

.routeplanner {
    position:absolute;
    float:right;
    margin-top:20%;

}

#directionsPanel {
    margin-top:45%;
    background:#fff;
}

/*#panel {*/
    /*position: absolute;*/
    /*margin-left:20%;*/
    /*z-index: 5;*/
    /*background-color: #fff;*/
    /*padding: 5px;*/
    /*border: 1px solid #999;*/
/*}*/

#files th, td {
    padding: 5px;
    text-align: left;
}

#files img {
    width:40px;
    height:40px;
}

.button_new_user {
    margin:10px;
    background: #570800;
    border-color:#000000;
    font-weight:bold;
}

#collection {
    float:left;
    width:50%;
}

#collection_sub {
    background: #f8000a;
    border:1px solid #000000;
    border-radius:10px;
    width:auto;
    float:right;
    padding:5px;
}

.environment {
    width:500px;
    height:300px;
}

#room {
    width:60%;
    float:left;
}